<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Dobot Mooz 3z</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header>
      <p>Экспонат</p>
      <nav>
        <a href="{{ url_for('index')}}">На  главную</a>
      </nav>
    </header>
    <main>
      <article>
        <h1>Dobot Mooz 3z</h1>
        <p>Dobot MOOZ 3Z – современный 3D-принтер с дельта-кинематикой для воплощения в жизнь идей в области промышленного дизайна. Комбинированная головка для печати позволяет осуществлять многоцветную печать, получая необычные модели и даже готовые изделия с высокой скоростью и точностью. Вы можете применять наиболее распространенные цветовые палитры RGB и CMYK для получения любых оттенков из пластика.</p>

        <ul>
          <li>Цветная 3D-печать: Откройте новые возможности в области промышленного дизайна и искусства с помощью цветной трехмерной печати. Смешивайте или чередуйте цвета для достижения уникального результата.</li>
          <li>Дельта-кинематика: Изучете особенности и преимущества дельта-кинематики в робототехнике и станках, воспользуйтесь ими в собственном инженерном проекте.</li>
        </ul>

        <img src="{{ url_for('static', filename='img/IMG_7687.png') }}" height="250">
        <img src="{{ url_for('static', filename='img/IMG_7684.png') }}" height="250">

        <table>
        <caption>Краткие технические характеристики</caption>
        <tr>
          <td>Размер рабочей области:</td>
          <td>Ø100х100 мм</td>
        </tr>
        <tr>
          <td>Точность:</td>
          <td>от 50 мкм</td>
        </tr>
        <tr>
          <td>Тип кинематики:</td>
          <td>Дельта</td>
        </tr>
        <tr>
          <td>Функции многоцветной печати:</td>
          <td>Два режима</td>
        </tr>
      </table>
        <img src="{{ url_for('static', filename='img/qr-2.png') }}" height="250">
      </article>
    </main>
    <footer>
      Авторство:
      <a href="https://www.dobot.ru/series_mooz/3z"> Dobot: Образовательная промышленная робототехника</a>
    </footer>
  </body>
</html>
