{% extends "v2/base.html" %}

{% block header %}
Манипулятор Dobot Magician
{% endblock %}

{% block image %}
<img src="{{ url_for('static', filename='img/IMG_7558.png') }}" height="250">
{% endblock %}

{% block description %}
Роботизированный манипулятор DOBOT Magician – это инженерная платформа нового поколения для достижения вершин в области изучения промышленной робототехники и методов автоматизации для учеников средней и старшей школы. Осваивайте современные методы и типы производства с применением последовательного изучения технологий от простого к сложному.
{% endblock %}

{% block credit %}
<a href="https://dobot.ru/series_magician/model_edu"> Dobot: Образовательная промышленная робототехника</a>
{% endblock %}

{% block functions %}
<ul>
  <li><span class="no-danger-block">Перемещайте:</span> Два типа захвата обеспечат Вам свободу манипуляций над предметами различной формы и из множества материалов.</li>
  <li><span class="no-danger-block">Творите:</span> Выполняйте рисунки или чертежи, пишите письма, создавайте фотографии, маркируйте изделия с помощью ручки и карандаша или лазерной гравировки.</li>
  <li><span class="no-danger-block">Создавайте:</span> Воплотите в жизнь любую идею с помощью аддитивных технологий. Фигурка или механизм, оснастка или сувенир – всё это доступно для вас.</li>
  <li><span class="no-danger-block">Проектируйте:</span> Объединяйте множество компонентов в единую систему и автоматизируйте её, создав собственный инженерный проект, создав собственное будущее.</li>
</ul>

<table>
<caption>Краткие технические характеристики</caption>
<tr>
  <td>Грузоподъемность:</td>
  <td>500 г</td>
</tr>
<tr>
  <td>Радиус / Диаметр рабочей зоны:</td>
  <td>320 / 640 мм</td>
</tr>
<tr>
  <td>Интерфейсы ввода/вывода:</td>
  <td>аналоговые и цифровые</td>
</tr>
<tr>
  <td>Поддержка языков и сред программирования:</td>
  <td>более 10</td>
</tr>
<tr>
  <td>Масса манипулятора:</td>
  <td>менее 3,5 кг</td>
</tr>
<tr><td>Поддержка работы со сторонними контроллерами и устройствами</td></tr>
<tr><td>Габаритные размеры позволяют расположить его на рабочем столе</td></tr>
</table>

<img src="{{ url_for('static', filename='img/qr1.png') }}" height="250">

{% endblock %}
