<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Робототехнический комплекс НАУРОБО «Умный дом»</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header>
      <p>Экспонат</p>
      <nav>
        <a href="{{ url_for('index')}}">На  главную</a>
      </nav>
    </header>
    <main>
      <article>
        <h1>Робототехнический комплекс НАУРОБО «Умный дом»</h1>
        <p>Робототехнический комплекс представляет собой модель дома с роботизированным управлением инженерными системами. Работа робототехническим комплексом объединяет в себе следующие задачи:</p>
      </article>

      <img src="{{ url_for('static', filename='img/IMG_7669.png') }}" height="250">

        <ul>
          <li>Механическая сборка корпусных элементов</li>
          <li>Монтаж электрических схем</li>
          <li>Монтаж гидравлической системы</li>
          <li>Применение датчиков для контроля параметров внутренней и внешней среды</li>
          <li>Создание алгоритмов автоматического управления с целью поддержания параметров внутренней среды на заданном уровне</li>
          <li>Приобретение опыта проектирования инженерных систем охраны и контроля доступа</li>
        </ul>
        <img src="{{ url_for('static', filename='img/IMG_7673.png') }}" height="250">
        <img src="{{ url_for('static', filename='img/IMG_7674.png') }}" height="250">
    </main>
    <footer>
      Авторство:
      <a href="https://nau-ra.ru/produktsiya/produktsiya-225_75.html"> Научные Развлечения</a>
    </footer>
  </body>
</html>
