<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Raise 3D Pro3</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header>
      <p>Блог</p>
      <nav>
        <a href="{{ url_for('index')}}">На  главную</a>
      </nav>
    </header>
    <main>
      <article>

        <h1>3D-принтер: "Raise 3D Pro3"</h1>

          <img src="{{ url_for('static', filename='img/IMG_7679.png') }}" height="250">
        <p>Серия Pro3 оснащена улучшенными функциями печатной платформы для обеспечения высококачественной печати.</p>

        <ul>
          <li>Автоматическая калибровка печатного стола делает настройку 3D-принтера более быстрой и простой.</li>
          <li>Гибкая платформа позволяет легко снимать напечатанные модели.</li>
          <li>Жесткость стержня по оси Z увеличилась на 75% для обеспечения более стабильной работы.</li>
        </ul>
        <p>Эти структурные изменения позволяют принтерам серии Pro3 обеспечивать лучшие результаты печати и упрощать рабочий процесс.</p>
        <img src="{{ url_for('static', filename='img/IMG_7681.png') }}" height="250">

        <p><span class="no-danger-block">Встроенная система интеллектуального помощника EVE.</span></p>
        <p>Raise3D Pro3 и Pro3 Plus оснащены встроенной системой EVE, в которую предварительно загружены распространенные проблемы с печатью и соответствующие им решения. Помощник EVE поможет пользователям точно находить и устранять проблемы, которые могут повлиять на итоговый результат печати. Также в нем есть функция, которая напоминает пользователям о регулярных запланированных вмешательствах, чтобы обеспечить своевременное обслуживание принтера. Это помогает сократить время технического обслуживания и сделать его более эффективным.</p>
        <img src="{{ url_for('static', filename='img/IMG_7680.png') }}" height="250">
      </article>
    </main>
    <footer>
      <p>Авторство: <a href="https://raise3d.ru/production/raise-3d-pro3/"> Raise 3D</a></p>
    </footer>
  </body>
</html>
