{% extends "v2/base.html" %}

{% block header %}
<h1>Сайт-музей</h1>
{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
  <img class="avatar" src="{{ url_for('static', filename='img/avatar.PNG') }}" height="120">
  <nav class="blog-navigation">
    <h2>Экспонаты</h2>
    <ul>
      <li><a href="{{ url_for('exhibit', num=1) }}">1. Манипулятор Dobot Magician</a></li>
      <img src="{{ url_for('static', filename='img/IMG_7558.png') }}" height="250">
      <hr>
      <li><a href="{{ url_for('exhibit', num=2) }}">2. Dobot Mooz 3z</a></li>
      <img src="{{ url_for('static', filename='img/IMG_7684.png') }}" height="250">
      <hr>
      <li><a href="{{ url_for('exhibit', num=3) }}">3. Dobot Mooz-2 Plus</a></li>
      <img src="{{ url_for('static', filename='img/IMG_7677 2.png') }}" height="250">
      <hr>
      <li><a href="{{ url_for('exhibit', num=4) }}">4. Робототехнический комплекс НАУРОБО «Умный дом»</a></li>
      <img src="{{ url_for('static', filename='img/IMG_7669.png') }}" height="250">
      <hr>
      <li><a href="{{ url_for('exhibit', num=5) }}">5. Raise 3D Pro3</a></li>
      <img src="{{ url_for('static', filename='img/IMG_7681.png') }}" height="250">

    </ul>
  </nav>
{% endblock %}
