<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Dobot Mooz-2 Plus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header>
      <p>Экспонат</p>
      <nav>
        <a href="{{ url_for('index')}}">На  главную</a>
      </nav>
    </header>
    <main>
      <h1>Dobot Mooz-2 Plus</h1>
        <p>Учебная модульная станция Dobot MOOZ Plus (2 в 1) – преемник и продолжатель младшей модели Dobot MOOZ 3DF. Увеличенная рабочая зона и обновленное встроенное программное обеспечение позволяют достичь новых вершин в изучении аддитивных технологий и лазерной гравировки. Вы можете создать полноразмерные макеты или изделия без ограничений.</P>

      <img src="{{ url_for('static', filename='img/IMG_7677 2.png') }}" height="250">
      <img src="{{ url_for('static', filename='img/IMG_7678 2.png') }}" height="250">

      <ul>
        <li>Лазерная гравировка: Выполняйте рисунки на различных поверхностях при помощи современной лазерной гравировки и обработки.</li>
        <li>Трехмерная печать: Воплощайте в жизнь свои уникальные художественные или инженерные проекты с помощью аддитивных технологий.</li>
      </ul>

      <img src="{{ url_for('static', filename='img/IMG_7682.png') }}" height="250">
      <table>
        <caption>Краткие технические характеристики</caption>
        <tr>
          <td>Размер рабочей области:</td>
          <td>200x200x195 мм</td>
        </tr>
        <tr>
          <td>Точность:</td>
          <td>от 50 мкм</td>
        </tr>
        <tr>
          <td>Мощность лазера:</td>
          <td>0,5 Вт</td>
        </tr>
      </table>
      <img src="{{ url_for('static', filename='img/IMG_7676.png') }}" height="250">
      <table>
        <caption>Комплектация</caption>
        <tr>
          <td>Два функциональных модуля</td>
          <td>Сенсорная панель</td>
        </tr>
        <tr>
          <td>PLA-пластик и инструменты</td>
        </tr>
      </table>
    </main>
    <footer>
      Авторство:
      <a href="https://dobot.ru/series_mooz/plus"> Dobot: Образовательная промышленная робототехника</a>
    </footer>
  </body>
</html>
